/*Preloader*/
#loading{
    background-color: #fc6a42;
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
    left:0;
    z-index: 9999;
}
#loading-center{
    width: 100%;
    height: 100vh;
    position: relative;
}
#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    margin-left: -25px;
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
    -webkit-animation: loading-center-absolute 1.5s infinite;
    animation: loading-center-absolute 1.5s infinite;

}
.object{
    width: 25px;
    height: 25px;
    background-color: #FFF;
    float: left;

}


#object_one {
    -webkit-animation: object_one 1.5s infinite;
    animation: object_one 1.5s infinite;
}
#object_two {
    -webkit-animation: object_two 1.5s infinite;
    animation: object_two 1.5s infinite;
}
#object_three {
    -webkit-animation: object_three 1.5s infinite;
    animation: object_three 1.5s infinite;
}
#object_four {
    -webkit-animation: object_four 1.5s infinite;
    animation: object_four 1.5s infinite;
}


@-webkit-keyframes loading-center-absolute {
    100% { -webkit-transform: rotate(-45deg); }

}

@keyframes loading-center-absolute {
    100% { 
        transform:  rotate(-45deg);
        -webkit-transform:  rotate(-45deg);
    }
}



@-webkit-keyframes object_one {
    25% { -webkit-transform: translate(0,-50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }

}

@keyframes object_one {
    25% { 
        transform: translate(0,-50px) rotate(-180deg);
        -webkit-transform: translate(0,-50px) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_two {
    25% { -webkit-transform: translate(50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_two {
    25% { 
        transform: translate(50px,0) rotate(-180deg);
        -webkit-transform: translate(50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}

@-webkit-keyframes object_three {
    25% { -webkit-transform: translate(-50px,0) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_three {
    25% { 
        transform:  translate(-50px,0) rotate(-180deg);
        -webkit-transform:  translate(-50px,0) rotate(-180deg);
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: rtranslate(0,0) rotate(-180deg);
    }
}


@-webkit-keyframes object_four {
    25% { -webkit-transform: translate(0,50px) rotate(-180deg); }
    100% { -webkit-transform: translate(0,0) rotate(-180deg); }
}

@keyframes object_four {
    25% { 
        transform: translate(0,50px) rotate(-180deg); 
        -webkit-transform: translate(0,50px) rotate(-180deg);  
    } 
    100% { 
        transform: translate(0,0) rotate(-180deg);
        -webkit-transform: translate(0,0) rotate(-180deg);
    }
}
.list-social li {
    float: left;
    margin-right: 20px;
    padding-left: 12px;
  }
  
.list-social li i {
    color: #fff;
    font-size: 15px;
  } 
.parallax-window{
background: url("../images/header-bg.jpg") repeat scroll center center / cover;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.box-arrow-down{
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translate(-50%);       
}
.box-arrow-down span{
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -5px;
    animation: animate 2s infinite;
    
}
.box-arrow-down span:nth-child(2)
{
    animation-delay: -0.2s;
    
}
.box-arrow-down span:nth-child(3)
{
    animation-delay: -0.4s;
}
@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-15px, -15px);
    }
    50%{
        opacity: 1;
        
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(15px, 15px);
    }
}

/*-----------------------------------------------------------------------------------*/
/*  Aout-us
/*-----------------------------------------------------------------------------------*/

#about {
    width: 100%;
    height: auto;
    background: #f7f7f7;
    padding-top: 190px;
  }
  
  #about .div-img-bg {
    padding-bottom: 30px;
    border: 20px solid #b8a07e;
  }
  
  #about .div-img-bg .about-img img {
    width: 100%;
    box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
    margin-top: -60px;
    margin-left: 40px;
    height: 400px;
    object-fit: cover;
  }
  
  #about .about-descr .p-heading {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: left;
  }
  
  #about .about-descr .separator {
    max-width: 80%;
    margin-bottom: 0;
    text-align: left;
  }
.rounded-circle{
    border-radius: 50%;
}
.about-kt {
    color: rgb(71, 70, 70);
    font-size: 2rem;
    font-family: Hind, sans-serif;
    font-weight: lighter;
}

  /*------------------------------------------------------------------
  	[Pricing]
------------------------------------------------------------------*/
.pricing {
    padding: 70px 45px;
    background: #fff;
    margin-top: 50px;
  }
  
  @media (max-width: 768px) {
    .pricing {
      margin-top: 0;
    }
  }
  
  .pricing.pricing-active {
    padding-top: 110px;
    padding-bottom: 110px;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .pricing.pricing-active {
      margin-top: 0;
    }
  }
  
  .pricing .pricing-icon {
    display: block;
    font-size: 30px;
    color: #999caa;
    margin-bottom: 30px;
  }
  
  .pricing .pricing-list-item {
    position: relative;
    font-size: 13px;
    color: #81848f;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .pricing .pricing-list-item:before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 9px;
    height: 2px;
    background: #FFa500;
    content: " ";
    margin-right: 10px;
  }
  